.wrapper-login {
  /* fallback for old browsers */
  background: #1d4350;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #a43931, #1d4350);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #a43931, #1d4350);
  width: 100%;
  height: 100%;
  @include flex-center;
  .form-login {
    width: 506px;
    height: 657px;
    padding: 36px 52px 28px 52px;
    background-color: hsla(0, 3%, 60%, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    outline: 1px solid #a6a3a3;
    h1 {
      font-size: 30px;
      font-weight: 700;
      color: $btn-color;
      margin-bottom: 18px;
    }

    h2 {
      font-size: 24px;
      color: $text-color;
      margin-bottom: 12px;
    }

    &__description {
      font-size: 16px;
      line-height: 22px;
    }

    &__form {
      margin-top: 20px;
      ::-webkit-input-placeholder {
        color: #161629;
      }

      input {
        width: 100%;
        border-radius: 3px;
        height: 52px;
        border: none;
        outline: none;
        margin-bottom: 12px;
        padding: 15px;
        &:nth-of-type(2) {
          margin-bottom: 0;
        }

        &:last-of-type {
          background-color: $btn-color;
          color: $text-color;
          font-weight: 600;
          cursor: pointer;
          border-radius: 3px;
          &:hover {
            background-color: #f78754;
          }

          &:focus {
            background-color: #f78754;
          }
        }
      }

      span {
        display: block;
        text-align: right;
        line-height: 24px;
        color: #16fcd2;
        text-decoration: underline;
        cursor: pointer;
        margin-bottom: 18px;
      }

      &--errors {
        color: #ff4747;
        font-style: italic;
        font-size: 14px;
        text-align: left;
        margin-bottom: 5px;
      }
    }

    &__space {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      gap: 10px;
      span {
        font-size: 16px;
        font-weight: 600;
      }

      &__line {
        flex-grow: 1;
        height: 1px;
        background-color: #ccc;
      }
    }

    &__social {
      button {
        width: 100%;
        height: 52px;
        margin-bottom: 12px;
        border-radius: 3px;
        @include flex-center;
        border: none;
        gap: 10px;
        cursor: pointer;
        span {
          font-size: 16px;
          font-weight: 600;
        }
      }

      &__google {
        span {
          color: $btn-color;
        }
      }

      &__facebook {
        background-color: #415a93;
      }
    }

    &__register {
      span {
        font-size: 16px;
        margin-right: 12px;
        &:last-of-type {
          color: $btn-color;
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }
}
