.wrapper-table {
  color: $text-color;
  font-size: 12px;
  text-align: left;
  width: 100%;
  padding: 27px 35px;
  background-color: #17202e;
  border-radius: 10px;
  margin-bottom: 10px;
  td {
    border-top: 1px solid $text-color;
    border-right: 1px solid $text-color;
    padding: 3px 25px;
    &:last-of-type {
      border-right: none;
    }

    &:first-of-type {
      border-right: none;
    }

    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(9) {
      svg,
      img {
        float: left;
        margin-right: 5px;
      }
    }

    &:nth-of-type(7) {
      select {
        padding: 5px 27px;
        background-color: #00000033;
        color: $text-color;
        font-weight: 600;
        border: none;
        outline: none;
        border-radius: 24px;
      }
    }
  }

  .active {
    svg {
      background-color: green;
    }
  }

  th {
    border-right: 1px solid $text-color;
    color: #8b8b8b;
    padding: 3px 25px;
    &:last-of-type {
      border-right: none;
    }

    &:first-of-type {
      border-right: none;
      @include flex-center;
      justify-content: flex-start;
    }
  }
}

.pagination {
  @include flex-center;
  span {
    margin-right: 10px;
    &:first-of-type {
      padding: 5px 8px;
      background-color: #17202e;
      border-radius: 10px;
      margin-left: 10px;
    }
  }
}
