$bg-header-color: #17202e;
$border-color: #273140;
$bg-highlight-color: #dd531333;
$font-size-content: 12px;
$font-size-text: 10px;
$text-color: #ffffff;
$bg-main-color: #09091a;
$bg-active-color: #dd531333;
$btn-color: #dd5313;
